* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  padding: 20px;
}

.backgroundImg {
  background-image: url("https://wallpaperaccess.com/full/3949083.jpg");
  height: fit-content;
}

h1 {
  color: aliceblue;
  padding-left: 50px;
  padding-top: 80px;
}

.menuTop {
  float: right;
  padding-top: 30px;
}

p {
  color: aliceblue;
  padding-left: 50px;
  padding-top: 10px;
}

.me-1 {
  padding: 50px;
  margin-left: 50px;
  margin-bottom: 150px;
  margin-top: 20px;
}

.iconTxt1{

  color: black;
}



/* Clear floats after the columns */

